#changer 
{
	background-color: #54479e;
}


.Gryffindor
{
	background-color: #d18710;
}


.Slytherin
{
	background-color: #448e53;
}


.Ravenclaw
{
	background-color: #273fa3;
}


.Hufflepuff
{
	background-color: #d0d834;
}